@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Zorg ervoor dat padding en margin correct worden berekend */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  overflow: auto;
  background-color: #262626 !important;
}
.heads {
  z-index: 5;
  margin: 0;
  padding: 0;
}
.Text-baseHead,
.Text-base {
  --bs-text-opacity: 1;
  color: #d99748 !important;
}

.text-basemid {
  --bs-text-opacity: 1;
  font-size: larger !important;
  color: #ffc107 !important;
}
.footertxt {
  color: #262626 !important;
}
.icons {
  padding: 40px;
  margin-bottom: 50px;
  width: auto;
  height: 200px;
}
.iconsCont {
  width: 250px;
  height: 250px;
  align-items: center;
}
.icon-link {
  transition: transform 0.3s;
}

.icon-link img {
  transition: filter 0.3s; /* Zorg voor een vloeiende overgang voor de kleur */
}

.icon-link:hover img {
  filter: brightness(0) saturate(100%) invert(85%) sepia(100%) hue-rotate(45deg)
    brightness(95%) contrast(100%);
}
.icons img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Card Styles */
.card-img-top {
  height: 250px;
  width: auto;
}

.card-sizeIndex {
  height: 600px !important;
}
.card-sizeHobbies {
  height: 375px !important;
  border: #d99748 solid 1px;
  padding: 15px;
  border-radius: 3%;
}
.card-body {
  background-color: #262626;
  color: #d99748 !important;
  font-size: 1rem;
  height: auto !important;
  padding: 25px;
}
.imgcv {
  height: 200px;
  width: auto;
}

.footer {
  color: #262626 !important;
  margin-top: 20px;
  text-align: center;
  background-color: #d99748;
  width: auto;
  height: 50px;
}

.card {
  background-color: #d99748 !important;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(143 128 19 / 25%) !important;
  --bs-accordion-border-color: #ffc107 !important;
}

.accordion-body {
  background-color: #262626 !important;
  color: #d99748 !important;
}

.accordion-button {
  background-color: #d99748 !important;
}

.accordion-button:not(.collapsed) {
  border-bottom: 2px solid #ffc107 !important;
  background-color: #ffc107 !important;
  color: black !important;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}

.head {
  background-color: #d99748 !important;
  color: black !important;
}
.head a {
  margin: 10px;
}
.boxsizing {
  z-index: 5;
}
.overlay {
  border-radius: 10%;
  border: #d99748 solid 2px !important;
}

.item-h {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Video Banner */
header {
  position: relative;
  background-color: black;
  height: 350px;
  width: auto;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100%;
  object-fit: fill;
  transform: translate(-50%, -41.5%) scale(1);
  z-index: 0;
  transition: transform 1s ease;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  opacity: 0.1;
  z-index: 1;
}

.transformbadge {
  position: relative;
  top: -10px;
  right: -6px;
}

@media (max-width: 1080px) {
  .icons {
    width: auto !important;
    height: 200px !important;
  }
  .boxsizing {
    z-index: 5;
    padding: 0px !important;
  }
}

/* Achtergrond --- Honeycomb */
canvas {
  opacity: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}
.nav-link:hover {
  color: #b42c0b !important;
  text-decoration: none;
}

.footer {
  color: #262626;
}

.marginClass {
  margin-top: 150px;
}
.paddingClass {
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 0px;
  margin-left: 0px;
}

.paddingErvaring {
  padding-left: 15% !important;
  padding-right: 15% !important;
}
.projectTheme {
  margin-top: 170px !important;
  padding-left: 80px;
  padding-right: 80px;
}
.ervaringTheme {
  margin-top: 100px !important;
}

.imgErvaring {
  border-radius: 15px;
  border: #d99748 solid 2px;
  height: 250px;
  width: 100%;
  max-width: 300px;
  margin: 10px;
}
.imgBanner {
  position: absolute;
  object-fit: fill;
  height: 300px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body img,
.card-body .ratio {
  max-height: 100px;
  width: 100%;
  object-fit: cover;
}
.custom-c {
  height: 150px !important;
  max-height: 200px !important;
}
.custom-card {
  height: auto !important;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.bd {
  border: none;
  border-top: 2px solid #d99748;
}
@media (max-width: 768px) {
  header {
    height: 200px;
  }

  header video {
    object-fit: cover;
    width: auto;
    height: 100%;
  }

  .icons {
    width: auto !important;
    height: 200px !important;
  }

  .card-body {
    font-size: medium;
  }

  .footer {
    height: 60px;
    font-size: smaller;
  }

  .head {
    font-size: small;
  }

  .item-h {
    font-size: medium;
  }

  .card-sizeHobbies {
    height: 250px !important;
  }
  .card-body {
    font-size: small;
  }
  .card-img-top {
    height: 250px;
    width: auto;
  }
  .mobile {
    height: 50px !important;
    width: auto;
  }
  .icons {
    margin-bottom: 50px;
    margin: 25px;
    width: auto !important;
    height: 130px !important;
  }
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

@media (min-width: 768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #d99748;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #d99748;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d99748;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #d99748;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}
.iconsHob {
  border: #d99748 solid 2px;
  margin-bottom: 50px;
  width: 100%;
  height: 250px;
  align-items: center;
  opacity: 80%;
}
